h1, figure, ul, li {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.ta {
  position: relative;
}

.group:after {
  content: "";
  clear: both;
  display: both;
}

.ta ul {
  margin: auto;
  list-style: none;
  width: 260px;
  height: 260px;
  border: 1px solid limegreen;
}

.ta li {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid limegreen;
  background-color: lightgreen;
}

.ta li:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 1s;
  border: 1px solid darkgreen;
}

.ta li img {
  /*transition-delay: 1s;*/
}

.ta .bounce-up img {
  animation-name: bounceUp;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.ta .bounce-down img {
  animation-name: bounceDown;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.ta .bounce-left img {
  animation-name: bounceLeft;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.ta .bounce-right img {
  animation-name: bounceRight;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes bounceUp {
  100%{
    transform:translateY(-10%);
  }
}

@keyframes bounceDown {
  100%{
    transform:translateY(10%);
  }
}

@keyframes bounceLeft {
  100%{
    transform:translateX(-10%);
  }
}

@keyframes bounceRight {
  100%{
    transform:translateX(10%);
  }
}

.ta .current-piece {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  margin-left: 34%;
}

.game-over ul, .game-over li, .game-over div {
  opacity: 0.6;
  transition: 1s;
}

.game-over li:hover {
  cursor: none;
}

.game-over-message {
  position: absolute;
  text-align: center;
  display: inline;
  width: 200px;
  color: red;
}
