@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

.play-button.display, .instructions-button {
  display: block;
  border-radius: 10px;
  width: auto;
  margin: 0 auto 10px auto;
  padding: 10px 60px 10px 60px;
  background-color: seagreen;
  color: white;
  font-size: 24px;
  font-family: 'Baloo Da', sans-serif;
  letter-spacing: 1px
}

.play-button {
  display: none;
}

.play-button:hover, .instructions-button:hover {
  cursor: pointer;
  background-color: #83a783;
  transition: 1s;
}

.ta img.demo-gif {
  width: 380px;
  height: 380px;
  margin: 10px;
  border-radius: 10px;
}

.instructions-modal {
  width: 100%;
  height: 100%;
}

  .instructions-modal .outer-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .65;
  }

  .instructions-modal .inner-modal {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color: palegoldenrod;
    padding: 20px;
    border-radius: 5px;
    color: dimgray;
    font-family: 'Baloo Da', sans-serif;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

    .instructions-modal .inner-modal img {
      width: 36px;
      height: 36px;
      margin-bottom: -12px;
    }

    .inner-modal .close-button {
      width: 25px;
      background-color: gray;
      border-radius: 50px;
      height: 25px;
      position: absolute;
      right: -10px;
      top: -10px;
      color: white
    }

  .outer-modal:hover,
  .inner-modal .close-button:hover {
    cursor: pointer;
  }

.icon {
  text-decoration: none;
}

  .icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon > .label {
    display: none;
  }

html {
  background-color: #a9dea9;
  background-size: 300px 100%;
}

.group:after {
  content: "";
  clear: both;
  display: both;
}

h1, figure, ul, li, p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Hind', sans-serif;
  color: white;
}

p {
  color: #fafafa;
  font-size: 14px;
  font-weight: normal;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Baloo Da', sans-serif;
  color: whitesmoke;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px black;
}

p.links {
  margin-top: 20px;
}

.my-links {
  color: #636363;
  font-family: 'Hind', sans-serif;
  padding: 5px;
  font-weight: 800;
  font-size: 16px;
  margin-top: 20px;
}

.my-links:hover {
  cursor: pointer;
  color: #1cbd1c;
  transition: 1s;
}

.ta img {
  width: 58px;
  height: 58px;
}

.ta {
  position: relative;
}

.container {
  position: relative;
  margin: auto;
  width: 405px;
  height: 375px;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #4c4c4c;
  border-radius: 5px;
}

  .ta ul {
    float: left;
    list-style: none;
    width: 285px;
    height: 285px;
    border: 10px solid #92896d;
    border-radius: 5px;
    border-style: outset;
    background-color: #dacfab;
    margin: 5px;
  }

    .ta li {
      float: left;
      width: 55px;
      height: 55px;
      border: 1px solid transparent;
      background: transparent;
      border-radius: 5px;
      object-fit: cover;

    }

    .ta li:hover {
      cursor: pointer;
      opacity: 0.8;
    }

.ta .has-piece {
  background-color: #31c331;
  border-radius: 10px;
}

.ta .bottom-bounce img {
  animation-name: bounceUp;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .top-bounce img {
  animation-name: bounceDown;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .right-bounce img {
  animation-name: bounceLeft;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .left-bounce img {
  animation-name: bounceRight;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .bottom-bounce.left-bounce img {
  animation-name: bounceUpRight;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .top-bounce.left-bounce img {
  animation-name: bounceDownRight;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .bottom-bounce.right-bounce img {
  animation-name: bounceUpLeft;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .top-bounce.right-bounce img {
  animation-name: bounceDownLeft;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes bounceUp {
  50%{
    transform:translateY(-18%);
  }
}

@keyframes bounceDown {
  50%{
    transform:translateY(18%);
  }
}

@keyframes bounceLeft {
  50%{
    transform:translateX(-18%);
  }
}

@keyframes bounceRight {
  50%{
    transform:translateX(18%);
  }
}

@keyframes bounceUpRight {
  50%{
    transform:translate(20%, -20%);
  }
}

@keyframes bounceDownRight {
  50%{
    transform:translate(20%, 20%);
  }
}

@keyframes bounceUpLeft {
  50%{
    transform:translate(-20%, -20%);
  }
}

@keyframes bounceDownLeft {
  50%{
    transform:translate(-20%, 20%);
  }
}

@keyframes zoom {
  50%{
    transform: scale(1.2);
  }
}

.zoom {
  transition: all .2s ease-in-out;
}

.zoom:hover {
  animation-name: zoom;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

.ta .current-piece {
  width: 60px;
  height: 85px;
  border: 3px solid gray;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 60px;
  background-color: #83b383;
  display: inline-block;
  font-family: 'Baloo Da', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px black;
}

.ta .current-piece > p {
  font-family: 'Baloo Da', sans-serif;
}

.ta .hold {
  width: 69px;
  height: 69px;
  border: 3px solid gray;
  border-radius: 50px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 12px;
  background-color: #dacfab;
  display: inline-block;
  font-family: 'Baloo Da', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px black;
}

.ta .hold img {
  padding: 0;
  margin-top: -10px;
}

.ta .score {
  width: 75px;
  height: 60px;
  border: 3px solid gray;
  border-radius: 5px;
  margin-left: 9px;
  margin-top: 5px;
  background-color: lightgray;
  display: inline-block;
  font-family: 'Baloo Da', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px black;
}

.ta .score p {
  font-size: 20px;
  color: white;
}

.game-over ul, .game-over li, .game-over div {
  opacity: 0.6;
  transition: 1s;
}

.game-over li:hover, .game-won li:hover {
  cursor: none;
}

.game-over marquee {
  color: pink;
  font-size: 75px;
  font-family: 'Baloo Da', sans-serif;
  padding: 0;
  margin-top: -35px;
}

.game-won img, .game-won h1, .game-won p {
  animation-name: bounceUp;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.ta .instructions {
  position: absolute;
  height: 40px;
  width: 265px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  vertical-align: center;
  font-family: "Baloo Da", sans-serif;
  color: #fafafa;
  letter-spacing: 0.5px;
}

.instructions > div {
  width: inherit;
  height: inherit;
  transition: 1s;
  font-size: 16px;
}

.instructions > div > img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: -15px;
}

.ta .walk img {
  animation-name: bearWalk;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes toLeft {
  15%{
    transform: rotate(10deg);
  }
  35%{
    transform: rotate(-10deg);
  }
  70%{
    transform: translate(-58px);
  }
}

@keyframes toRight {
  15%{
    transform: rotate(10deg);
  }
  35%{
    transform: rotate(-10deg);
  }
  70%{
    transform: translate(58px);
  }
}

@keyframes toUp {
  15%{
    transform: rotate(10deg);
  }
  35%{
    transform: rotate(-10deg);
  }
  70%{
    transform: translateY(-58px);
  }
}

@keyframes toDown {
  15%{
    transform: rotate(10deg);
  }
  35%{
    transform: rotate(-10deg);
  }
  70%{
    transform: translateY(58px);
  }
}

.toLeft img {
  animation-name: toLeft;
  animation-duration: 1.45s;
  animation-iteration-count: 1;
}

.toRight img {
  animation-name: toRight;
  animation-duration: 1.45s;
  animation-iteration-count: 1;
}

.toUp img {
  animation-name: toUp;
  animation-duration: 1.45s;
  animation-iteration-count: 1;
}

.toDown img {
  animation-name: toDown;
  animation-duration: 1.45s;
  animation-iteration-count: 1;
}
